<div class="container">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Inicio</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Acerca De</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Contacto</a></li>      
    </ul>
    <ul class="nav justify-content-center  pb-3 mb-3">
      <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="https://www.instagram.com/vision.code24/"  target="_blank">
        <i class=" px-2 bi-instagram"></i>
      </a>
      <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="https://www.facebook.com/profile.php?id=61559080073139"  target="_blank">
        <i class=" px-2 bi-facebook"></i>
      </a>
      <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="mailto:vision.code24@gmail.com?subject=Hola%20desde%20mi%20web&body=Este%20es%20el%20contenido%20del%20correo."  target="_blank">
        <i class=" px-2 bi-chat-dots"></i>
      </a>

    </ul>
    <p class="text-center text-body-secondary">© 2024 Jamp Creative</p>
  </footer>
</div>