.background-wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: 140px;
    }
    
    .svg-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    }
    
    .containerColor {
    border-radius: 100px;
    position: relative;
    z-index: 2;
    max-width: 1200px;
    margin: 0 auto;
    }

    .containerBody {
      padding: 2rem;
      margin-bottom: 4rem;
    /*  background-image: url('../../../../assets/img/Background/rojofiguras.svg');*/
    position: relative;
    background: rgb(67, 83, 200);
    height: 100%;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 50% 20%;
    border-bottom-right-radius: 50% 20%;     
     
  }
  
  /* Círculo en la esquina superior derecha */  

   

  .cardsTeconologias{
    padding: 25px;
    border: none;
    border-radius: 2%;    
    cursor: pointer;
    background-color: #00000034;

  }
